<div class="about">
   <div class="i">
    <div class="naveen"> 
    <h1 style="color:gold">DNC !</h1>
      </div>
     <div><h2 style="font-family: 'Times New Roman', Times, serif; font-size: 30px;color:gold">ABOUTME</h2></div>  
      <div class="na"> 
    <a href="https://github.com/dnaveenchakravarthi"><img src="assets/github.jpg  " class="img"></a><span><a href="https://www.linkedin.com/in/naveen-chakravarthi-dachepalli-275116256"><img src="assets/linkedin.png  " class="ig"></a></span>
   </div> 
</div>

   <div class="fle">
    <div class="hi"> 
   <marquee>  <h1 style="font-size:90px;color:rgb(184, 182, 188) ">Welcome !</h1></marquee>
    <p>I am a passionate Full Stack Developer with expertise in Python, Django, Angular. I <br>have completed Python Full Stack training at Naresh IT and am currently learning Angular to enhance<br> my front-end development skills. My goal is to become a Software Engineer in a top MNC, contributing <br>to innovative projects and scalable applications.</p>
    <p>I enjoy working on real-time web applications, API development, and time series prediction models,<br> always aiming to improve my coding skills and explore new technologies.

    </p>
   </div>

    
   <div class="pr">
    <div class="ni"> 
    <h1 style="font-size: 40px ; font-family: 'Times New Roman', Times, serif;">projects</h1>
    <li><img src="assets/pin.png" class="pi">Weather app</li>
     
    <li><img src="assets/pin.png" class="pi">Tic-Tac-Toe</li>
    <li><img src="assets/pin.png" class="pi">Shoe-Cart</li>
     
    <li><img src="assets/pin.png" class="pi">Books library</li>
    <li><img src="assets/pin.png" class="pi">Alarm clock</li>
    <li><img src="assets/pin.png" class="pi">Calculator</li>
</div>

   </div>
</div>