<div class="projects">
    <h1 style="text-align: center; margin-top: 0px; color:darkgoldenrod">
        Projects
    </h1>
    <div class="grid">
         <div class="gri" >
            <img src="assets/weather.jpg" height="240px" width="300px">
            <h2 style="color:blue; text-decoration:none;">Weather app</h2>
            <p style="text-align: center;">A Weather Application is a software solution that provides real-time and forecasted weather data for users based on their location or selected cities. It fetches data from weather APIs and presents.</p>
           
        </div>
        <div class="gr" >
            <img src="https://aadyaa.com/cdn/shop/files/RGL7009_2fd6a886-5630-45fe-8a0a-d62d852e76f2.jpg?v=1738146384" height="240px" width="300px">
            <h2>Tic-Tac-Toe</h2>
            <p style="text-align: center;">Tic-Tac-Toe is a classic two-player game played on a 3×3 grid, where players take turns marking a cell with either an "X" or an "O". The objective is to form a horizontal, vertiical. </p>

        </div>
        <div class="g" >
            <img src="https://uspoloassn.in/cdn/shop/files/1_8505854a-75ee-4247-bbfc-afa074ff14c9.jpg" height="240px" width="300px">
             <h2>Shoecart</h2>
             <p style="text-align: center;">A Shoe Cart is an online shopping platform that allows users to browse, <br>select, and purchase various types of footwear.<br> It provides a user-friendly interface. </p>
        </div>
        <div class="i" >
            <img src="https://thumbs.dreamstime.com/b/library-candle-black-white-illustration-student-desk-concentration-books-textbooks-resources-library-candle-black-white-361885450.jpg" height="240px" width="300px">
            <h2>Books library</h2>
            <p style="text-align: center;">A Books Library is an online or offline system that helps users browse, borrow, and manage books efficiently. It serves as a digital catalog for book lovers, students, and researchers, providing access to various genres, authors, and publications. </p>
        </div>
        <div class="il">
            <img src="https://img.freepik.com/premium-photo/black-luxury-classic-analog-alarm-clock-table-extreme-closeup-3d-rendering_476612-13745.jpg" height="240px" width="300px">
            <h2>Alaram</h2>
            <p style="text-align: center;">An Alarm Clock is a Python-based application that allows users to set alarms for specific times. When the alarm time is reached, the application plays a sound or displays a notification to alert the user.

            </p>
        </div>
        <div class="ile" >
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230722/pngtree-3d-rendering-of-calculator-symbol-against-a-black-background-image_3782739.jpg" height="240px" width="300px">
           <h2>Caculator</h2>
           <p style="text-align: center;">A Calculator is a Python-based application that allows users to perform mathematical operations such as addition, subtraction, multiplication, and division. It can be implemented as a command-line program or a GUI-based calculator using Tkinter. </p>
        </div>
        
    </div>
</div>
