<div class="contact">
    <div class="ji"> 
    <h1 style="text-align: center; margin-top: 0px;color:gold">Contact Me</h1>
    <h2>Getting into touch is easy!</h2>
    <p>12-8,India,</p>
    <p>Addanki,Baptla(Dist)-523201,</p>
    <p>Andhrapradesh</p>
    <p>(+91)-6304965495</p>
</div>
<div class="hi">
    <a href="https://github.com/dnaveenchakravarthi"><img src="assets/git.png" class="im"></a>
    <a href="https://www.linkedin.com/in/naveen-chakravarthi-dachepalli-275116256"><img  src="assets/linkedin.png" class="im"></a>
    
    <a href="https://www.facebook.com/share/12JLWZSnHUs/?mibextid=qi2Omg"><img  src="assets/face.png" class="im"></a>
    <a href="https://x.com/NaveenC14074236?t=4rbR8bTfPRUD39Rk3nWfXQ&s=09"><img  src="assets/twitter.png" class="im"></a>
</div>
</div>
