.contact{
    background-color: black;
    color:white;
    height:200px;
    
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
    
}
.hi{
    display:flex;
    align-items: center;
    justify-content: center;
     
}
.im{
    height:30px;
    background-color: antiquewhite;
    margin: 30px;
}
.ji{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
     
}