<div class="sk">
    <h1 style="text-align: center; text-decoration: underline;color:gold;margin-bottom: 60px;">My Skills</h1>
    <marquee> 
    <div class="s" *ngFor="let i of ni"> 
     
        <div class="ni"  >
        <img [src]="i.image" class="hi">
        <h1>Python</h1>

    </div>
    <div class="ni" >
        <img [src]="i.imag" class="hi">
        <h1>Html</h1>

    </div>
    <div class="ni">
        <img [src]="i.ima" class="hi" style="background-color: blueviolet;">
        <h1>Css</h1>

    </div>
    <div class="ni">
        <img [src]="i.im" class="hi">
        <h1>Javascripit</h1>

    </div>
    <div class="ni">
        <img [src]="i.in" class="hi" c>
        <h1>Typescripit</h1>
    </div>
    <div class="ni">
        <img [src]="i.inb" class="hi">
         
        
        

        <h1>Angular</h1>

    </div>
    <div class="ni">
        <img [src]="i.id" class="hi">
        <h1>Github</h1>

    </div>
    <div class="ni">
        <img [src]="i.imj" class="hi">
        <h1>Django</h1>

    </div>
</div>
</marquee>
</div>