<nav>
  <div class="left">PORTFOLIO</div>
  <div class="right"> 
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#skills">Skills</a>
  <a href="#projects">Projects</a>
  <a href="#contact">Contact</a>
</div>
</nav>

<div class="sections">
  <section id="home"><app-home></app-home></section>
  <div id="about"><app-about></app-about></div>
  <div id="skills"><app-skills></app-skills></div>
  <div id="projects"><app-projects></app-projects></div>
  <div id="contact"><app-contact></app-contact></div>
</div>
