<div class="home" >
    <div class="homee">
    <img src="assets/Nav.jpg" height="200" width="200" class="image">  

    </div>
<div class="color"> 
    <h1 style="font-family: 'Times New Roman', Times, serif;font-size: 50px;text-align: center;"> I'm <marquee><span style="color:gold">NaveenChakravarthi</span> </marquee> </h1>
    <p>An Professional Frontend Developer & Python Developer</p>
    <p>My portfolio showcases my designs and methods<br>
    and outcomings in crafting exceptional user experience</p>
</div>
     
</div>
